<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><meta charset="UTF-8">
</head>
<head th:replace="fragments/header :: header('Lista de Professores')">
	<link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Lista de Professores</h1>

<a th:href="@{/professor/novo}">Cadastrar novo professor</a>

<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Disciplina</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="professor : ${professores}">
            <td th:text="${professor.nome}">Nome</td>
            <td th:text="${professor.cpf}">CPF</td>
            <td th:text="${professor.email}">Email</td>
            <td th:text="${professor.telefone}">Telefone</td>
            <td th:text="${professor.disciplina.nome}">Disciplina</td>
            <td>
                <a th:href="@{'/professor/editar/' + ${professor.id}}">Editar</a> |
                <a th:href="@{'/professor/excluir/' + ${professor.id}}"
                   onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
